@page
@using RazorFields.Demo.RazorModels
@using RazorFields.Interfaces
@model RazorFields.Demo.Views.Test
@inject IRazorFieldsService _rfs;
@{ var razorModel = _rfs.GetModel<HomeRazorModel>(); }

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<h1>@razorModel.Heading</h1>
This is a test page
<div>

    <h2>Users</h2>
    <ul>
        @foreach (var user in razorModel.Users)
        {
            <li>User: @user.Name</li>
        }
    </ul>
    
    <h2>Numbers</h2>
    <ul>
        @foreach (var number in razorModel.Numbers)
        {
            <li>Number: @number</li>
        }
    </ul>

</div>
</body>
</html>